*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* outline: 1px red solid; */
}
#navbar {
    transition: top 0.3s ease-in-out;
}
:root{
    --accent: green;
}
button{
    border: none;
    border-radius: 10px;
    padding: .8em 3em;
    background-color: var(--accent);
    color: white;
}
button:hover{
    background-color: aliceblue;
    color: var(--accent);
    transition: background-color .3s ease;
}
.hamburger{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
}
.nav-links a:hover::before{
    width: 100%;
}
.nav-links a:before{
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid #008000;
    bottom: -1px;
    transition: width 0.3s;
}
.title{
    display: flex;
    align-items: center;
    gap: 1em;
}
.title h1{
    font-size: clamp(0.875rem, 0.7188rem + 0.3125vw, 1rem);
}
nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: white;
}
nav img{
    width: 100%;
    max-width: 60px;
}
.nav-links{
    display: none;
    list-style: none;
    gap: 2em;
    margin-left: auto;
    margin-right: 2em;
}
.cta{
    display: none;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(header.jpg);
    background-size: cover;
    height: 736px;
}
header .container{
    height: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.copy{
    text-shadow: 1px -1px 5px rgba(121,121,121,0.49);
    text-align: center;
    font-size: clamp(2.5625rem, 1.7042rem + 3.662vw, 5rem);
}
.action{
    height: 300px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding: 2em;
}
.action .container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90rem;
}
.container .data-text{
    display: flex;
    gap: 3em;
    align-items: center;
}
.data-text h1{
    font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    margin-bottom: 11px;
}
.container .divider{
    border-left: 1px solid black;
    height: 38px;
}
.action-container{
    background: #2C57EE;
    color: white;
    padding: 30px 33px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.action-container button{
    padding: 25px 26px;
    border: none;
    background-color: #2C57EE;
    color: white;
    border: .5px solid #efefef;
    border-radius: 10px;
}
.action-container button:hover{
    background-color: white;
    color: #2C57EE;
    transition: background-color 0.2s ease;
}
i{
    margin-right: .8em;
}
.social{
    display: flex;
    justify-content: start;
    padding: 5rem;
}
.social .container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.container .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3em;
    margin-inline: auto;
}
.text p{
    max-width: 390px;
}
.text span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.25rem, 0.3636rem + 1.8182vw, 2rem);
}
.icons{
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    row-gap: 5px;
    align-items: center;
    max-width: 300px;
    height: 171px;
}
.icons img{
    margin-top: 10px;
    filter: grayscale(100);
    max-width: 70px;
    width: 100%;
}
.values{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values .container{
    background-color: #008000;
    border-radius:50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem;
    gap: 4em;
}
.values h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}
.values .container div{
    text-align: start;
}
.values .divider{
    height: 0;
    width: 200px;
    border-bottom: 1px solid white;
}
.events{
    display: flex;
    align-items: center;
    justify-content: center;
}
.events .container{
    margin: 89px;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1260px;
    margin-bottom: 130px;
    margin-top: 130px;
}
.events .box{
    background: grey;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}
.events .text{
   display: flex;
   flex-flow: column wrap;
   gap: 20px;
   align-items: start;
   margin-bottom: 80px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    gap: 11px;
    justify-content: center;
}
footer{
    background: rgb(40, 40, 40);
    color: white;
    height: 600px;
}

footer .container{
    display: flex;
    height: inherit;
    justify-content: space-around;
    flex-direction: column;
    padding: 2em;
}

footer .title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2em;
}

.container .profile{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.profile p{
    width: 100%;
    max-width: 531px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 2.5em;
}

.contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.contact .links{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1em;
}

.links a{
    text-decoration: none;
    color: white;
    margin-bottom: .5em;
}

.action-section{
    display: flex;
    gap: 45px;
    align-items: center;
}

.action-section .divider{
    border-left: 1px solid white;
    height: 70px;
}

.action-section .tag{
    display: flex;
    flex-direction: column;
}

.action-section .moduleCta{
    background: none;
    border: 1px solid white;
    margin-top: 20px;
}

.action-section .enrollCta{
    margin-top: 20px;
    border: none;
}

.action-section .moduleCta:hover{
    background: white;
    color: #008000;
    border: 1px solid white;
    transition: background 0.2s ease;
}
@media screen and (min-width: 800px) {
    .hamburger{
        display: none;
    }
    .nav-links{
        display: flex;
    }
    .data-text{
        gap: 11em;
    }
    .cta{
        display: block;
    }
    .action .container{
        flex-direction: row;
    }    
    .container .text, .social .container{
        flex-direction: row;
        gap: 5em;
        align-items: center;
    }
    .events .container .text{align-items: start;}
    .social{
        justify-content: center;
    }
    .values .container{
        border-radius: 10px;
        flex-direction: row;
        margin: 2em;
    }
    .values .container div{text-align: center;}
    .values .divider{
        height: 200px;
        width: 0;
        border-left: 1px solid white;
    }
    .events .container .text{
        flex-direction: column;
        gap: 2em;
        margin-inline: 2em;
    }
    footer{
        height: 330px;
    }
    footer .container{
        flex-direction: row;
    }
}
@media screen and (max-width: 500px){
    header{
        height: 500px;
    }
    .values .container{
        border-radius: 0;
        flex-direction: column;
    }
    .container .data-text{
        gap: 3em;
    }
}